# Node dependencies
node_modules/

# Build output
dist/
build/
build/Release

# Vite cache
.vite/
.vitepress/dist
.vitepress/cache
**/.vitepress/dist
**/.vitepress/cache

# Cypress artifacts
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Environment variables
.env
.env.local
.env.*.local
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# IDE/editor configs
.vscode/
.idea/
.vscode-test

# Grunt, Bower, Snowpack, Parcel, Next.js, Nuxt.js, Gatsby, Vuepress, SvelteKit
.grunt
bower_components/
web_modules/
.cache/
.parcel-cache
.next/
out/
.nuxt/
.vuepress/dist
.temp/
.svelte-kit/

# Dependency directories
jspm_packages/
.yarn/*
.pnp.*
.yarn-integrity
.yarn/patches
.yarn/plugins
.yarn/releases
.yarn/sdks
.yarn/versions

# TypeScript
*.tsbuildinfo

# Optional caches
.npm
.eslintcache
.stylelintcache

# REPL history
.node_repl_history

# npm pack output
*.tgz

# Docusaurus
.docusaurus

# Serverless
.serverless/

# FuseBox
.fusebox/

# DynamoDB
.dynamodb/

# Firebase
.firebase/

# TernJS
.tern-port
